@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-winter-blue: #252535;
  --color-old-white: #c8c093;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  background-color: var(--color-winter-blue);
  color: var(--color-old-white);

  padding: 3rem;
  max-height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
}

.current-weather {
  display: grid;
}

.weather-now {
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.searchbar {
  width: min-content;
  border-bottom: 2px solid var(--color-old-white);
  margin-bottom: 3rem;

  display: grid;
  grid-template-columns: 5fr 1fr;
}

input[type="text"] {
  background: none;
  border: none;
  color: inherit;
}

input[type="submit"] {
  height: 3.2rem;
  width: 3.2rem;
  background: none;
  border: none;
  background-image: url("../images/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.weather-condition {
  display: grid;
  grid-auto-rows: auto;
  align-items: center;

  margin-bottom: 3rem;
}

.weather-gist-div {
  display:grid;
  grid-template-columns: 1fr 5fr;
}

.weather-gist-div svg {
  place-self: center;
  min-height: 9rem; 
  width: auto;
}

.weather-gist {
  align-self: center;
  margin-left: 2rem;
  font-size: 3.3rem;
}

.weather-desc {
  margin-bottom: 1rem;
  font-size: 5rem;
}

.temp-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.temp-feels-like-div {
  grid-column: span 3;
  font-size: 4.3rem;
  align-self: center;
}

.temp-actual {
  font-size: 3rem;
}

.temp-actual-div,
.temp-min-div,
.temp-max-div {
  font-size: 1.8rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.temp-feels-like-div p,
.temp-actual-div p,
.temp-min-div p,
.temp-max-div p {
  font-size: 1.8rem;
  opacity: 0.8;
}

.location-and-time {
  margin-bottom: 3rem;

  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.location-and-time > * {
  margin-bottom: 2rem;
}

.city-div {
  font-size: 3rem;

  display: grid;
  grid-template-columns: 1fr 9fr;
}

.city-div svg {
  height: 60%;
  width: auto;
  
  place-self: center;
}

.city span {
  font-size: 2.3rem;
}

.sunrise-sunset-div {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 5rem;
}

.time-sunrise-div,
.time-sunset-div {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 1rem;
}

.time-sunset,
.time-sunrise {
  font-size: 2rem;
}

.time-measure-div p {
  opacity: 0.8;
}

svg * {
  stroke: var(--color-old-white);
}
