@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-winter-blue: #252535;
  --color-old-white: #c8c093;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  background-color: var(--color-winter-blue);
  color: var(--color-old-white);

  padding: 3rem;
  max-height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
}

.current-weather {
  display: grid;
}

.weather-now {
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.searchbar {
  width: min-content;
  border-bottom: 2px solid var(--color-old-white);
  margin-bottom: 3rem;

  display: grid;
  grid-template-columns: 5fr 1fr;
}

input[type="text"] {
  background: none;
  border: none;
  color: inherit;
}

input[type="submit"] {
  height: 3.2rem;
  width: 3.2rem;
  background: none;
  border: none;
  background-image: url("../images/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.weather-condition {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;

  margin-bottom: 3rem;
}

.weather-condition svg {
  min-height: 9rem; 
  width: auto;
}

.weather-gist {
  margin-left: 2rem;
  font-size: 3rem;
}

.weather-desc {
  margin-bottom: 1rem;
  font-size: 5rem;

  grid-column: span 2;
}

  margin-bottom: 3rem;
